NEXT_PUBLIC_API_URL=/api/lambda-proxy
API_BASE_URL=https://your-api-id.execute-api.ap-southeast-1.amazonaws.com/prod
NEXT_PUBLIC_COGNITO_CLIENT_ID=your-cognito-client-id
NEXT_PUBLIC_COGNITO_DOMAIN=https://your-cognito-domain.auth.ap-southeast-1.amazoncognito.com
